.add-songs-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.infoSquare {
    background-image: url("/img/listeningtomusic.png");
    background-size: cover;
    background-position: center;
    height: 120px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.form-add-songs{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
      width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-group label {
    font-size: 15px;
    color: gray;
}

.form-group input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-color);
    color: white;
    font-size: 15px;
}