.Header {
  width: calc(100% - 60px);
  padding: 5px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  backdrop-filter: blur(30px); /* desenfoque del fondo */
  -webkit-backdrop-filter: blur(12px); /* para Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* sombreado suave */
  z-index: 300;
  border-bottom: 1px rgb(58, 58, 58) solid;
}

.Header-logo {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.Header-logo h1 {
  font-family: "Anton";
  font-size: 40px;
}

.Navigation {
  display: flex;
  align-items: center;

  justify-content: center;
}

.Header-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-link:hover {
  color: var(--primary-color);
  background-color: #5c5ae25a;
}

.Header-link.active {
  color: var(--primary-color);
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  object-fit: cover;
}

.Header-link:hover .profile-image {
  border: 2px solid var(--primary-color);
}


.add-songs-link{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px white solid;
  padding: 15px;
  border-radius: 40px;
  font-size: 14px;
  font-family: 'inter-bold';
}

.add-songs-link:hover{
  color: black;
  background-color: white;
}