.Main {
  width: calc(100vw - 250px);
  padding: 30px;
  padding-top: 100px;
  padding-left: 250px;
}

 .Main-Right {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline: 40px;

} 


@media (max-width: 800px) {
  .Main {
    width: calc(100vw - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }

  .Main-Right {
    width: 100%;
    padding-inline: 0px;
  }
}
