.Player {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.763);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.ArtViewPlayer {
  position: fixed;
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 300;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ArtViewPlayer .Track {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.ArtViewPlayer .Track .track-info {
  text-align: center;
  width: 100%;
}

.ArtViewPlayer .Track strong {
  font-size: 30px;
  font-family: "inter-extrabold";
}

.ArtViewPlayer .Track p {
  margin-top: 5px;
  font-size: 20px;
  font-family: "inter-bold";
}

.ArtViewPlayer .yt-video-container {
  width: 600px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ArtViewPlayer .yt-video {
  width: 100% !important;
  height: 100% !important;
}

.ArtViewPlayer .artistNameLink {
  color: lightgray !important;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
  filter: blur(50px);
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.player-column-artview {
  display: flex;
  flex-direction: column;
  z-index: 450;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 30px;
}

.player-column {
  z-index: 30;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.Track {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 30%;
}

.track-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  gap: 1px;
}

.ArtViewPlayer .track-info {
  align-items: center;
}

.track-info strong {
  font-family: "inter-bold" !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 2.4em;
  font-size: 14px;
}

.track-info p {
  font-size: small;
}

.Controller {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.ArtViewPlayer .Controller {
  width: calc(600px - 40px);
  gap: 5px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.283);
}

.Controller-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.progressBar {
  display: flex;
  gap: 7px;
  align-items: center;
  width: 100%;
}

.progressBar p {
  font-size: 12px;
}

.album-art img {
  border-radius: 10px;
  background-color: black;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1 / 1;
  width: 150px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: transparent;
  cursor: pointer;
}

.prev-next-buttons:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background: linear-gradient(
    to right,
    var(--primary-color) var(--progress),
    rgb(157, 157, 157) var(--progress)
  );
  border-radius: 5px;
}

/*circle of input*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
  position: relative;
  z-index: 1;
}

.volume-range {
  appearance: none;
  width: 100px !important;
  height: 4px;
  background: linear-gradient(
    to right,
    var(--primary-color) var(--volume-progress),
    #ccc var(--volume-progress)
  );
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

/* Estilo del pulgar del input */
.volume-range::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  margin-top: -3px;
}

.volume-range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.playing-pause-btns {
  cursor: pointer;
  transition: all 0.3s ease;
}

.playing-pause-btns:hover {
  transform: scale(1.1);
}

.activated-controll {
  fill: var(--primary-color);
  cursor: pointer;
}

.icon-activated {
  fill: var(--primary-color);
  cursor: pointer;
}

.third-column {
  width: calc(30% - 40px);
  padding-inline: 20px;
}
.third-column-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.third-column-row li {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
}

.third-column-row li:hover {
  opacity: 0.7;
}

.ArtViewPlayer .third-column-row {
  justify-content: center;
}

.cross-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: -20px;
}

.cross-icon:hover {
  opacity: 0.7;
}

.tag-info {
}

.ArtViewPlayer .tag-info {
  display: none;
}

.queue-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.queue-icon.active svg {
  fill: var(--primary-color);
}

.ArtViewPlayer .listNameLink {
  display: none;
}
.listNameLink {
  cursor: pointer;
  color: gray;
}

.listNameLink:hover {
  text-decoration: underline;
}

.artistNameLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
